<form>
    <div class="form-group">
        <label>Title</label>
        {{input type="text" class="form-control" value=title placeholder="Add Todo"}}
    </div>
    <button {{action 'addTodo'}} class="btn btn-primary">Add Todo</button>
</form>